/build*
/dist*
/src/_ReSharper.Ninject.Extensions.NamedScope*
/src/Ninject.Extensions.NamedScope.Test/obj*
/src/Ninject.Extensions.NamedScope/obj*
/src/Ninject.Extensions.NamedScope.SilverlightTests/obj*
/src/Ninject.Extensions.NamedScope.SilverlightTests/Bin*
/_ReSharper.Ninject.Extensions.NamedScope*
/Ninject.Extensions.NamedScope.5.0.ReSharper.user
/Ninject.Extensions.NamedScope.5.1.TeamCity.user
/Ninject.Extensions.NamedScope.suo
/lib/Ninject/*.zip
/lib/Ninject/*/**
/lib/Ninject.Extensions.ContextPreservation/*.zip
/lib/Ninject.Extensions.ContextPreservation/*/**

/src/Ninject.Extensions.NamedScope.SilverlightTests/Ninject.Extensions.NamedScope.SilverlightTests.csproj.user
/src/Ninject.Extensions.NamedScope.Test/Ninject.Extensions.NamedScope.Test.csproj.user
/Ninject.Extensions.NamedScope.5.1.ReSharper.user